{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <style>

  body {
  background-color: #F5FFFA;
  }

  h1{
    font-weight: lighter;
    color: black;
    text-align: center;
    margin-top: 23.5%;
  }

  footer{
    color: white;
    height: 50px;
    background-color: #00703C;
    font-weight: normal;
    margin-top: 25%;
  }
  .footer{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: #27561C;
    font-size: 1vw;
  }

  </style>

  <body>
    <h1>You are now logged in!</h1>
  </body>

  <footer>
    <h1 class="footer">&copy 2019|SOLO</h1>
  </footer>

</html>
{% endblock %}
